* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main, .main__container {
    min-height: 100%;
}

.container {
    padding: 1rem;
}

.hide {
    display: none;
}

header {
    background-color: gray;
}

.header__search {
    position: relative;
}

.dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #111;
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    background-color: lightgray;
    z-index: 100;
}

.dropdown-item-name {
    margin-bottom: .3rem;
    cursor: pointer;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search input, .header__search button {
    padding: .3rem;
}

.header__search button {
}

.main__container {
    display: flex;
    flex-direction: row;
}

.filters {
    flex: 30%;
    background-color: white;
}

.filters > div {
    display: flex;
    flex-direction: column;
}

.filters__buttons button {
    width: 60%;
    padding: .3rem;
    margin-bottom: .7rem;
}

.filters__item {
    margin-bottom: .8rem;
}

.filters__date-btn {
    padding: .4rem;
    margin-top: .5rem;
}

.content {
    flex: 70%;
    background-color: #efefef;
}

.content__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: .8em;
}

.content__sort-btn {
    border: none;
    box-shadow: none;
    background-color: inherit;
    cursor: pointer;
}

.content__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: gray;
}

.content__item-name {
    margin-bottom: 1rem;
    cursor: pointer;
}

.content__item-date {
    margin-top: .4rem;
    font-size: 0.8em;
}

.content__item-status, .content__item-date {
    display: block;
}

.dialog__name {
    margin-bottom: 1rem;
}

.dialog__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8em;
    margin-bottom: 1rem;
}